{INCLUDE header.html}
{INCLUDE chanserv/chanlist.html}
		<div class="panel-heading">Access List</div>
		<div class="panel-body">
			{FOR M IN MESSAGES}
			<div class="alert alert-info">
				{M}<br>
			</div>
			{END FOR}

			{IF EQ ACCESS_LIST YES}
				{IF EXISTS ACCESSES}
				<table id="tableNSAccess" class="table table-hover">
					<thead>
						<tr>
							<th>Mask</th>
							<th>Access</th>
							<th>Creator</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					{FOR MASK,ACCESS,CREATOR IN MASKS,ACCESSES,CREATORS}
						<tr>
							<td style="font-weight: bold;">{MASK}</td>
							<td>{ACCESS}</td>
							<td>{CREATOR}</td>
							{IF EQ ACCESS_CHANGE YES}
							<td><a href="/chanserv/access?channel={ESCAPED_CHANNEL}&mask={MASK}&del=1" class="btn btn-sm btn-danger">Delete</a></td>
							{ELSE}
							<td></td>
							{END IF}
						</tr>
					{END FOR}
					</tbody>
				</table>
				{ELSE}
				<em>Access list is empty.</em>
				{END IF}

				<hr>

				{IF EQ ACCESS_CHANGE YES}
				<h4>Add an access entry</h4>
				<form class="form-horizontal" method="post" action="/chanserv/access?channel={ESCAPED_CHANNEL}">
					<div class="form-group">
						<label class="control-label col-lg-2" for="mask">Mask:</label>
						<div class="col-lg-6">
							<input class="form-control" type="text" name="mask" id="mask" placeholder="Mask must be in the form nick!user@host">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="access">Access:</label>
						<div class="col-lg-6">
							<input class="form-control" type="text" name="access" id="access" placeholder="Access level">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2" for="reason">Provider:</label>
						<div class="col-lg-6">
							<select name="provider" class="form-control">
								{FOR PROVIDER IN PROVIDERS}
									<option value="{PROVIDER}">{PROVIDER}</option>
								{END FOR}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-6">
							<button type="submit" class="btn btn-primary">Send</button>
						</div>
					</div>
				</form>
				{END IF}
			{END IF}
		</div>
{INCLUDE footer.html}
