*.so
*.o
*.s
Makefile
Makefile.inc
autom4te.cache/
config.cache
config.log
config.status
include/sysconf.h
include/version.h
include/language.h
lang/language.h
src/bin/anoperc
lang/cat
lang/de
lang/en_us
lang/es
lang/fr
lang/gr
lang/hun
lang/index
lang/it
lang/langcheck
lang/langcomp
lang/nl
lang/pl
lang/pt
lang/ru
lang/tr
lang/ja_utf8
src/services
src/tools/anopesmtp
src/tools/db-merger
src/tools/epona2anope
