{INCLUDE header.html}
		{IF EXISTS CMDR} 
			<script type="text/javascript">
			$(document).ready(function() \{
			
				/*Modal*/
				var id = "#dialog";
					
				showModal();
		
				$('.close').click(function (e) \{
					e.preventDefault();	
					hideModal();
				\});
			
				$('#mask').click(function () \{
					hideModal();
				\});	
				
				function hideModal() \{
					if ($('#mask').not(':hidden')) \{
						$('.master').fadeTo('slow',1.0);	
						$('#mask, .window').fadeOut(200);
					\}					
				\}
				
				function showModal() \{				
					var mHeight = $(document).height();	
					var mWidth = $(window).width();
					
					var alertMsg = '<br/>{CMDR}<br/>';

					$('#mask').css(\{'width': mWidth, 'height': mHeight\});	
					$('#mask').fadeIn(200);		
					$('#mask').fadeTo('fast',0.75);
				
					$('#dialogMsg').html(alertMsg);
					var top = mHeight/2-$(id).height()/2;
					var left= mWidth/2-$(id).width()/2;
					
					$(id).css('top', top);
					$(id).css('left', left);
					$('.master').fadeTo('fast',0.3);								
					
					$(id).fadeIn(500);
					setTimeout(hideModal, t);		
					
				\}			
								
			\});
			</script>
		{END IF}
		<b>Channels you have access in:</b><br/>
		{FOR CH,ECH IN CHANNEL_NAMES,ESCAPED_CHANNEL_NAMES}
			<a href="/memoserv/memos?channel={ECH}" class="channel">{CH}</a> 
		{END FOR}
		<br/><br/>
		{FOR M IN MESSAGES}
			{M}</br>
		{END FOR}
		<br/>
		{IF EXISTS NUMBER}
			<script type="text/javascript">
				$("#memoTable").ready(function() \{
					$(".reply").click(function(e) \{
						e.preventDefault();
						var recv = $(this).attr('href');
						$("#receiver").val(recv);
					\});
				\});
			</script>
			<b>Memos List:</b>
			<table width="100%" height="100%" id="memoTable">
				<tr>
					<th class="akillR1">Number</th>
					<th class="akillR3">Sender</th>
					<th class="akillR2">Time/Message</th>
				</tr>
				{FOR I,S,T,TXT,U IN NUMBER,SENDER,TIME,TEXT,UNREAD}
				<tr>
					<td class="akillR1">{I}</td>
					<td class="akillR3">{S}</td>
					<td class="akillR2"><abbr title="{T}">{TXT}</abbr></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				{IF EQ U YES}
					<td class="right"><a href="/memoserv/memos?channel={ESCAPED_CHANNEL_NAME}&number={I}&read=1">Mark as Read</a> &nbsp;
					<a href="{S}" class="reply" id="memo{I}">Reply</a>&nbsp;
					<a href="/memoserv/memos?channel={ESCAPED_CHANNEL_NAME}&number={I}&del=1">Delete</a></td>
				{ELSE}
					<td class="right"><a href="/memoserv/memos?channel={ESCAPED_CHANNEL_NAME}&number={I}&read=2">Mark as Unread</a> ;&nbsp
					<a href="{S}" class="reply" id="memo{I}">Reply</a> &nbsp;
					<a href="/memoserv/memos?channel={ESCAPED_CHANNEL_NAME}&number={I}&del=1">Delete</a></td>
				{END IF}

				</tr>
				{END FOR}
			</table>
		{ELSE}
			<b>No memos to show.</b>
		{END IF}

		<br/><br/>

		<b>Send a new Memo</b>
		<form method="post" action="/memoserv/memos?channel={ESCAPED_CHANNEL}">
		Receiver: <input type="text" name="receiver" id="receiver" value="">
		Message: <input type="text" name="message">
		<input type="submit" value="Send">
		</form>
{INCLUDE footer.html}
