{INCLUDE header.html}
		{IF EXISTS CMDR} 
			<script type="text/javascript">
			$(document).ready(function() \{
				var id = "#dialog";
					
				showModal();
				setInterval('hideModal()', t);		
		
				$('.close').click(function (e) \{
					e.preventDefault();	
					hideModal();
				\});
			
				$('#mask').click(function () \{
					hideModal();
				\});	
				
				function hideModal() \{
					$('.content').fadeIn(200);	
					$('#mask, .window').fadeOut(200);					
				\}
				
				function showModal() \{				
					var mHeight = $(document).height();	
					var mWidth = $(window).width();

					$('#mask').css(\{'width': mWidth, 'height': mHeight\});	
					$('#mask').fadeIn(200);		
					$('#mask').fadeTo('fast',0.8);
				
					$(id).html('<br/><br/>{CMDR} <br/><a href="#" class="close">Close</a>');
					var top = mHeight/2-$(id).height()/2;
					var left= mWidth/2-$(id).width()/2;
					
					$(id).css('top', top);
					$(id).css('left', left);
					$(id).fadeIn(500);	
					$('.content').fadeOut(200);								
				\}	
				
			\});
			</script>
		{END IF}
		<b>Channels you have access in:</b><br/>
		{FOR CH,ECH IN CHANNEL_NAMES,ESCAPED_CHANNEL_NAMES}
			<a href="/memoserv/memos?channel={ECH}" class="channel">{CH}</a> 
		{END FOR}
		<br/><br/>
		{FOR M IN MESSAGES}
			{M}</br>
		{END FOR}
		<br/>
		{IF EXISTS NUMBER}
			<b>Memos List:</b>
			<table width="100%" height="100%">
				<tr>
					<th>Number</th>
					<th>Sender</th>
					<th>Time/Message</th>
				</tr>
				{FOR I,S,T,TXT,U IN NUMBER,SENDER,TIME,TEXT,UNREAD}
				<tr>
					<td>{I}</td>
					<td>{S}</td>
					<td>{T}</td>
				{IF EQ U YES}
					<td><a href="/memoserv/memos?channel={ESCAPED_CHANNEL_NAME}&number={I}&read=1">Mark as Read</a></td>
				{ELSE}
					<td><a href="/memoserv/memos?channel={ESCAPED_CHANNEL_NAME}&number={I}&read=2">Mark as Unread</a></td>
				{END IF}
					<td><a href="/memoserv/memos?channel={ESCAPED_CHANNEL_NAME}&number={I}&del=1">Delete</a></td>

				</tr>
				<tr>
					<td></td><td></td>
					<td>{TXT}</td>
				</tr>
				{END FOR}
			</table>
		{ELSE}
			<b>No memos to show.</b>
		{END IF}

		<br/><br/>

		<b>Send a new Memo</b>
		<form method="post" action="/memoserv/memos?channel={ESCAPED_CHANNEL}">
		Receiver: <input type="text" name="receiver">
		Message: <input type="text" name="message">
		<input type="submit" value="Send">
		</form>
{INCLUDE footer.html}
