{INCLUDE header.html}
	{IF EXISTS NOACCESS}
		<b>Access denied.</b>
	{ELSE}
		{FOR M IN MESSAGES}
			{M}</br>
		{END FOR}
		</br><b>AKILL List:</b>
		<table width="100%" height="100%">
			<tr>
				<td class="akillR1">Number</td>
				<td class="akillR2">Hostmask</td>
				<td class="akillR2">Expires</td>
				<td class="akillR2">Setter</td>
				<td class="akillR3"/>
			</tr>
		</table>
		<div class="scroll">
			<table>
				{FOR N,H,S,T,E,R IN NUMBER,HOST,SETTER,TIME,EXPIRE,REASON}
				<tr>
					<td class="akillR1">{N}</td>
					<td class="akillR2"><abbr class="akillR2" title="{R}">{H}</abbr></td>
					<td class="akillR2"><abbr class="akillR2" title="{T}">{E}</abbr></td>
					<td class="akillR2">{S}</td>
					<td class="akillR3"><a href="/operserv/akill?&number={N}&del=1">Delete</a></td>
				</tr>
				{END FOR}
			</table></br>
		</div>
		<b>Add a new AKILL</b>
		<form method="post" action="/operserv/akill">
			<table width="100%" height="100%" align="left">
				<tr>
					<th align="left">HostMask</th>
					<th align="left">Expiry</th>
					<th align="left">Reason</th>
				</tr>
				<tr>
					<td><input type="text" name="mask"></td>
					<td><input type="text" name="expiry"></td>
					<td><input type="text" name="reason"></td>
				</tr>
			</table>
			<input type="submit" value="send">
		</form>
	{END IF}

{INCLUDE footer.html}
