html {
font-family: 'Cabin', Helvetica, Arial, sans-serif;
}
body {
	overflow:hidden;
	z-index: 10;
}
.master {
	margin-left:0px;
	margin-right:0px;
	height:100%;
	background: #FFF;
	border-width: 1px;
	border-style: solid;
	overflow: hidden;
}
.header {
	height: 33px;
	padding-left: 5px;
	width: auto;
	background: #EEE;
	border-width: 1px;
	border-bottom-style: solid;	
}
.sidebar {
	width: 185px;
	background: #EEE;
	height: 500px;
	border-width: 1px;
	border-right-style: solid;	
	padding-top:15px;
	padding-left:15px;
}

.loggedinas {
	right:15px;
	top:15px;
	position:absolute;
}

#button {
	padding: 0;
	height:30px;
	margin: 0px;
	padding-bottom: 2px;
}
#button li {
	display: inline;
}

#button li a {
	font-family: Arial;
	font-size:11px;
	text-decoration: none;
	float:left;
	padding: 10px;
	background-color: #EEE;
	height:13px;
	color: #000;
}
#button li a:hover {
 background-color: #A8BEE3;
 padding-bottom:10px;
}
#a.current {
	color:navy;
}

.content {
	left:220px;
	top:50px;
	position:absolute;
}

.footer {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	height: 30px;
	width:100%;
	background: #FFF;
	overflow: hidden;
}

.sidenav {
	list-style-type: none;
	background: #EEE
}

.sidenav a {
	color:black;
	text-decoration:none;
}
.sidenav a:hover{
	color:black;
	background:#FFF;
	text-decoration:underline;
}

.scroll {
	overflow-x: scroll;
	height: 125px;
}

.cinfo {
	overflow-x: scroll;
	height: 450px;
}

.right { 
	text-align: right; 
}
/* Table Stuff */
.akillR1 { 
	width: 80px;
	text-align: left;
}
.akillR2 {
	width: 250px;
	text-align: left;
}
.akillR3 {
	width: 100px;
	text-align: left;
}

td.right a:link, td.right a:visited {
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	padding: 0px 4px;
	-webkit-border-radius: 5x;
  	border-radius: 5px;
	text-decoration: none;
}

td.right a:hover {
	color: #00F;
}

table#memoTable {
	border-spacing: 0px;
	border-collapse: collapse;
}

table#memoTable tr {
	padding: 1px;
}

tr.read  { 
	background-color: #FFF;
}

tr.unread {
	background-color: #EEE;
}
 
tr.read td, tr.unread td {
	padding: 2px;	
}

/* Modal Window */
#mask {
	position: absolute;
	z-index: 9000;
	background-color: #000;
	height: 100%;
	width: 100%;
	display: none;
}

#boxes .window {
  position:fixed;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
 
#boxes #dialog {
	text-align: center;
	background-color: #FFF;
  	width:375px; 
  	height:203px;
  	padding: 20px;
  	-webkit-border-radius: 15px;
  	border-radius: 15px;
  	display: none;
}

#dialogClose {
	padding-top: 20px;
}

#dialogClose a:link, #dialogClose a:visited { 
	color: #000;
	text-decoration: none;
}

#dialogClose a:hover {
	color: #000;
	text-decoration: underline;
}
