<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/style.css" media="screen" rel="stylesheet" type="text/css" />

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>{TITLE}</title>
	</head>
	<body>
		<div id="frontPages" class="container">
