{INCLUDE header.html}
	{FOR M IN MESSAGES}
		{M}<br/>
	{END FOR}
	<table width="100%" height="100%">
		<tr>
			<td>Your <b>current</b> vHost:
		{IF EXISTS VHOST}
			{VHOST}
		{ELSE}
			<b>None</b>
		{END IF}
			</td>
		</tr>
	</table>
	{IF EXISTS CAN_REQUEST}
		{IF EXISTS VHOST}		
			<b>Request a new vHost</b>
		{ELSE}
			<b>Request a vHost</b>
		{END IF}
		<form method="post" action="/hostserv/request">
			<input name="req">
			<input type="submit" value="Request">
		</form>
	{ELSE}
		vHost requests are disabled on this network.
	{END IF}
{INCLUDE footer.html}
