name: Ubuntu CI
on:
  - pull_request
  - push
jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ubuntu ci]')"
    runs-on: ubuntu-20.04
    env:
      CXX: ${{ matrix.compiler }}
      CXXFLAGS: -Werror
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update --assume-yes
          sudo apt-get install --assume-yes --no-install-recommends \
            clang \
            g++ \
            gettext \
            git \
            libgnutls28-dev \
            libldap2-dev \
            libmysqlclient-dev \
            libpcre2-dev \
            libsqlite3-dev \
            libssl-dev \
            libtre-dev \
            ninja-build

      - name: Enable extras
        run: |
          for MODULE in ldap mysql regex_pcre2 regex_posix regex_tre sqlite ssl_gnutls ssl_openssl
          do
            ln -s ${{ github.workspace }}/modules/extra/$MODULE.cpp ${{ github.workspace }}/modules
          done

      - name: Run CMake
        run: |
          mkdir build && cd build
          cmake -GNinja -DCMAKE_BUILD_TYPE:STRING=DEBUG -DINSTDIR:STRING=${{ github.workspace }}/run ..

      - name: Build Anope
        run: |
          ninja -C ${{ github.workspace }}/build install

    strategy:
      fail-fast: false
      matrix:
        compiler:
          - clang++
          - g++
